  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 65px;
    background-color: white; 


    position: fixed;
    top: 0px;
    left: 0px; 
    right: 0px;

    border-bottom-width: 1.5px;
    border-bottom-style:solid ;
    border-bottom-color: rgb(213, 210, 210);
    z-index: 100;

  
  }

  .header_left_section {
    width: 150px;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .left_menu_image{
    width: 19px;
    height: 19px;
    padding: 5px;
    margin-left:10px; 
    margin-right :10px ;
  }

  .youtube_logo{
    flex:1;
    max-width: 120px;
    margin-left: 21px;
  }

  .header_middle_section {
    flex: 1;
    
    margin-left: 65px;
    margin-right: 35px;
    max-width: 500px;

    display: flex;
    align-items: center;
  }

  .search-button,
  .voice-search-button, 
  .upload-icon-container, 
  .dotted-menu-container,
  .notifications-container{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .search-bar {
    /* actual Search bar */
    height: 28px;
    flex: 1;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid rgb(187, 187, 187);

    box-shadow: inset 1px 0.5px 2px rgb(99, 94, 94);
    width: 0px;
  }

  .search-bar::placeholder{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

  .search-icon{
    width: 20px;  

  
    margin-left: 5px;
    margin-right: 3px;

    
  }

  .search-button{
    width: 55px;
    height: 32px;
    
    border-width: 1px;
    border-style: solid;
    border-color: rgb(158, 155, 155) ;

  align-items: center; 
  }

  .search-button .tool-tip, 
  .voice-search-button .tool-tip ,
  .upload-icon-container .tool-tip,
  .dotted-menu-container .tool-tip,
  .notifications-container .tool-tip{
    background-color: rgb(197, 191, 191);

    position: absolute;
    bottom: -30px;
    padding: 4px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;

  }

  .search-button:hover .tool-tip,
  .voice-search-button:hover .tool-tip,
  .upload-icon-container:hover .tool-tip,
  .dotted-menu-container:hover .tool-tip,
  .notifications-container:hover .tool-tip{
  opacity: 1;
  transition: opacity 0.3s;

  }

  .voice-search-button{
    width: 40px;
    height: 35px;
    margin-left: 5px;

  background-color: rgb(246, 245, 245);

    border-width: 0px;
      border-style: solid;
      border-color: rgb(187, 187, 187) ;
    
      border-radius: 17.5px;
  }

  .voice-search{

    
    width: 20px;

  }

  .header_right_section {
    width: 190px;

    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

  }

  .upload-button-icon{
    width: 20px;
  }

  .dotted-menu-icon{
    width: 20px;

  }

  .notifications-icon{
    width: 20px;
  }

  .user-icon{
    width: 20px;
    margin-right: 15px;

    
  }

  


 